<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.joshtiffany.ultimatecalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CompactCalculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Geometry.RhombusActivity"
            android:label="Rhombus"
            android:parentActivityName=".Geometry.AreaActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Geometry.Trapezoid"
            android:label="Trapezoid"
            android:parentActivityName=".Geometry.AreaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaParallelogramActivity"
            android:label="Parrallelogram"
            android:parentActivityName=".Geometry.AreaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaRectangleActivity"
            android:label="Rectangle"
            android:parentActivityName=".Geometry.AreaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaSquareActivity"
            android:label="Square"
            android:parentActivityName=".Geometry.AreaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Geometry.AreaTriangleActivity"
            android:label="Triangle"
            android:parentActivityName=".Geometry.AreaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaActivity"
            android:label="@string/title_activity_area"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.AngleActivity"
            android:label="@string/title_activity_angle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.EnergyActivity"
            android:label="@string/title_activity_energy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.Pressure"
            android:label="@string/title_activity_pressure"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.PowerActivity"
            android:label="@string/title_activity_power"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.WeightActivty"
            android:label="@string/title_activity_weight_activty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.ForceActivity"
            android:label="@string/title_activity_force"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.VolumeActivity"
            android:label="@string/title_activity_volume"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.SpeedActivity"
            android:label="@string/title_activity_speed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.TimeActivity"
            android:label="@string/title_activity_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.MeasureActivity"
            android:label="@string/title_activity_measure"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.TempActivity"
            android:label="@string/title_activity_temp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculators.ScientificActivity"
            android:label="@string/title_activity_scientific"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculators.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>