<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.joshtiffany.ultimatecalculator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/compactcalcic"
        android:label="CompactCalculator"
        android:roundIcon="@mipmap/compactcalcic_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Geometry.ConicalFrustumAreaActivity"
            android:configChanges="orientation"
            android:label="Conical Frustum"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.ConeAreaActivity"
            android:configChanges="orientation"
            android:label="Cone"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.CylinderAreaActivity"
            android:configChanges="orientation"
            android:label="Cylinder"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.SquarePyrFrustumAreaActivity"
            android:configChanges="orientation"
            android:label="Square Pyramid Frustum"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.SquarePyramidAreaActivity"
            android:configChanges="orientation"
            android:label="Square Pyramid"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.RectangPrismAreaActivity"
            android:configChanges="orientation"
            android:label="Rectangular Prism"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.CubeAreaActivity"
            android:configChanges="orientation"
            android:label="Cube"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsMisc.CreditsActivity"
            android:configChanges="orientation"
            android:label="Credits"
            android:parentActivityName=".SettingsMisc.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsMisc.SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Calculators.MainActivity"
            android:screenOrientation="portrait" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".Geometry.EllipsoidVolumeActivity"
            android:configChanges="orientation"
            android:label="Ellipsoid"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.SphericalSegActivity"
            android:configChanges="orientation"
            android:label="Spherical Segment"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.SphericalCapVolumeActivity"
            android:configChanges="orientation"
            android:label="Spherical Cap"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.SphereVolumeActivity"
            android:configChanges="orientation"
            android:label="Sphere"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.ConicalFrustumActivity"
            android:configChanges="orientation"
            android:label="Conical Frustum"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.ConeVolumeActivity"
            android:configChanges="orientation"
            android:label="Cone"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.CylinderVolumeActivity"
            android:configChanges="orientation"
            android:label="Cylinder"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.SquarePyrActivity"
            android:configChanges="orientation"
            android:label="Square Pryamid"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.SquarePyrFrustumActivity"
            android:configChanges="orientation"
            android:label="Square Pyramid Frustum"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.RectangPrismVolumeActivity"
            android:configChanges="orientation"
            android:label="Rectangular Prism"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.CubeVolumeActivity"
            android:configChanges="orientation"
            android:label="Cube"
            android:parentActivityName=".Geometry.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.VolumeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_volume"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Geometry.AreaEllipseActivity"
            android:configChanges="orientation"
            android:label="Ellipse"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaCircleArcActivty"
            android:configChanges="orientation"
            android:label="Circle Arc"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaCircleActivity"
            android:configChanges="orientation"
            android:label="Circle"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaHexagonActivity"
            android:configChanges="orientation"
            android:label="Hexagon"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.PentagonActivity"
            android:configChanges="orientation"
            android:label="Pentagon"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.RhombusActivity"
            android:configChanges="orientation"
            android:label="Rhombus"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.Trapezoid"
            android:configChanges="orientation"
            android:label="Trapezoid"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaParallelogramActivity"
            android:configChanges="orientation"
            android:label="Parrallelogram"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaRectangleActivity"
            android:configChanges="orientation"
            android:label="Rectangle"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaSquareActivity"
            android:configChanges="orientation"
            android:label="Square"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TestActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Geometry.AreaTriangleActivity"
            android:configChanges="orientation"
            android:label="Triangle"
            android:parentActivityName=".Geometry.AreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Geometry.AreaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_area"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.AngleActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_angle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.EnergyActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_energy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.Pressure"
            android:configChanges="orientation"
            android:label="@string/title_activity_pressure"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.PowerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_power"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.WeightActivty"
            android:configChanges="orientation"
            android:label="@string/title_activity_weight_activty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.ForceActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_force"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.VolumeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_volume"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.SpeedActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_speed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.TimeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_time"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.MeasureActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_measure"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversions.TempActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_temp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculators.ScientificActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_scientific"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculators.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>